@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  overscroll-behavior: none;
}

html body[data-scroll-locked] {
  overflow: scroll !important;
  overscroll-behavior: none !important;
  padding-top: 80px !important;
  overflow: hidden !important;
}
